body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-107px;
  width:1204px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:114px;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:121px;
  width:436px;
  height:114px;
  display:flex;
}
#u265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:666px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:235px;
  width:31px;
  height:666px;
  display:flex;
}
#u266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:666px;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:235px;
  width:30px;
  height:666px;
  display:flex;
}
#u267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:108px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:901px;
  width:436px;
  height:108px;
  display:flex;
}
#u268 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:232px;
  width:375px;
  height:28px;
  display:flex;
}
#u270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:643px;
  background:inherit;
  background-color:rgba(237, 241, 255, 0.12156862745098039);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:260px;
  width:375px;
  height:643px;
  display:flex;
}
#u271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u272_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:55px;
  height:55px;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:422px;
  width:45px;
  height:45px;
  display:flex;
}
#u272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:29px;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:495px;
  width:32px;
  height:29px;
  display:flex;
}
#u273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Light', 'Montserrat', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:492px;
  width:153px;
  height:34px;
  display:flex;
  font-family:'Montserrat Light', 'Montserrat', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u274 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Open Sans Light', 'Open Sans', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:65px;
  color:rgba(51, 51, 51, 0.996078431372549);
  text-align:center;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:536px;
  width:224px;
  height:88px;
  display:flex;
  font-family:'Open Sans Light', 'Open Sans', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:65px;
  color:rgba(51, 51, 51, 0.996078431372549);
  text-align:center;
}
#u275 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u276_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:55px;
  height:55px;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:648px;
  width:45px;
  height:45px;
  display:flex;
}
#u276 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u277_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:55px;
  height:55px;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:648px;
  width:45px;
  height:45px;
  display:flex;
}
#u277 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:662px;
  width:21px;
  height:17px;
  display:flex;
}
#u278 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:17px;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:663px;
  width:14px;
  height:17px;
  display:flex;
}
#u279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u280_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:196px;
  height:19px;
}
#u280p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:192px;
  height:6px;
  -webkit-transform:rotate(0.0836569839679871deg);
  -moz-transform:rotate(0.0836569839679871deg);
  -ms-transform:rotate(0.0836569839679871deg);
  transform:rotate(0.0836569839679871deg);
}
#u280p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:6px;
}
#u280p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(0.0836569839679871deg);
  -moz-transform:rotate(0.0836569839679871deg);
  -ms-transform:rotate(0.0836569839679871deg);
  transform:rotate(0.0836569839679871deg);
}
#u280p001_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:-0px;
  width:22px;
  height:22px;
}
#u280p002 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:-2px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(0.0836569839679871deg);
  -moz-transform:rotate(0.0836569839679871deg);
  -ms-transform:rotate(0.0836569839679871deg);
  transform:rotate(0.0836569839679871deg);
}
#u280p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:674px;
  width:186px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.0836569839679871deg);
  -moz-transform:rotate(-0.0836569839679871deg);
  -ms-transform:rotate(-0.0836569839679871deg);
  transform:rotate(-0.0836569839679871deg);
  opacity:0.996078431372549;
  color:rgba(40, 17, 143, 0.5882352941176471);
}
#u280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Light', 'Montserrat', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:509px;
  width:100px;
  height:16px;
  display:flex;
  font-family:'Montserrat Light', 'Montserrat', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u281 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:43px;
  width:259px;
  height:55px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u282 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u282_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:43px;
  width:192px;
  height:55px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u283 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u283_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:712px;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:126px;
  width:601px;
  height:712px;
  display:flex;
}
#u284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:611px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:144px;
  width:555px;
  height:611px;
  display:flex;
  font-size:20px;
}
#u285 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Light', 'Montserrat', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:rgba(51, 51, 51, 0.996078431372549);
  text-align:center;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:288px;
  width:224px;
  height:19px;
  display:flex;
  font-family:'Montserrat Light', 'Montserrat', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:rgba(51, 51, 51, 0.996078431372549);
  text-align:center;
}
#u286 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Light', 'Montserrat', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:rgba(51, 51, 51, 0.996078431372549);
  text-align:center;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:317px;
  width:224px;
  height:19px;
  display:flex;
  font-family:'Montserrat Light', 'Montserrat', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:rgba(51, 51, 51, 0.996078431372549);
  text-align:center;
}
#u287 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:65px;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:745px;
  width:158px;
  height:65px;
  display:flex;
}
#u288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:27px;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:764px;
  width:44px;
  height:27px;
  display:flex;
  color:rgba(51, 51, 51, 0.6705882352941176);
}
#u289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u290_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:247px;
  height:19px;
}
#u290p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:242px;
  height:6px;
}
#u290p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:6px;
}
#u290p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-9px;
  width:22px;
  height:20px;
}
#u290p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u290p002 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:-1px;
  width:4px;
  height:4px;
}
#u290p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:777px;
  width:237px;
  height:1px;
  display:flex;
  opacity:0.996078431372549;
  color:rgba(40, 17, 143, 0.5882352941176471);
}
#u290 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:84px;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:424px;
  width:93px;
  height:84px;
  display:flex;
}
#u291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:122px;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:266px;
  width:118px;
  height:122px;
  display:flex;
}
#u292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u293_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:265px;
  height:19px;
}
#u293p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:260px;
  height:6px;
}
#u293p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:6px;
}
#u293p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:22px;
  height:20px;
}
#u293p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u293p002 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:0px;
  width:4px;
  height:2px;
}
#u293p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:444px;
  width:255px;
  height:1px;
  display:flex;
  opacity:0.996078431372549;
  color:rgba(40, 17, 143, 0.5882352941176471);
}
#u293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:84px;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:758px;
  width:93px;
  height:84px;
  display:flex;
}
#u294 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u295_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:290px;
  height:19px;
}
#u295p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:284px;
  height:6px;
}
#u295p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:6px;
}
#u295p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-9px;
  width:22px;
  height:20px;
}
#u295p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u295p002 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:-1px;
  width:4px;
  height:4px;
}
#u295p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:663px;
  width:280px;
  height:1px;
  display:flex;
  opacity:0.996078431372549;
  color:rgba(40, 17, 143, 0.5882352941176471);
}
#u295 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:84px;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:648px;
  width:93px;
  height:84px;
  display:flex;
}
#u296 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Light', 'Montserrat', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:733px;
  width:144px;
  height:16px;
  display:flex;
  font-family:'Montserrat Light', 'Montserrat', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u297 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Light', 'Montserrat', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:843px;
  width:100px;
  height:16px;
  display:flex;
  font-family:'Montserrat Light', 'Montserrat', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u298 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:431px;
  width:27px;
  height:27px;
  display:flex;
}
#u299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
